**/.envrc
**/.env
**/.terraform
**/.terraform.lock.hcl
**/.terraform.lock.hcl
**/.terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfstate
**/.terraform.tfstate.lock.info
ansible-playbooks/kubernetes-nodes-config/inventory.ini
tf-stacks/.DS_Store
.DS_Store
